rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {    
    match /users/{document=**} {
      allow read, write: if
          request.auth != null;
    }
    
    match /dispensers/{document=**} {
      allow read, write: if
          request.auth != null;
    }

    match /usageData/{document=**} {
      allow read: if
          request.auth != null;
    }
    
    match /companies/{document=**} {
    	allow read;
      allow read, write: if
      		request.auth != null;
    }
    
  }
}